<div class="layout">
  <div class="w-full max-w-xs">
    <form #frmRegister="ngForm" (ngSubmit)="handleSubmit(frmRegister)"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h1 class="text-lg mb-3">Register</h1>
      <div class="mb-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" name="username" placeholder="Please choose a username" ngModel required>
      </div>
      <div class="mb-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" name="email" placeholder="Your Email Address" ngModel required>
      </div>
      <div class="mb-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" name="password" placeholder="Please choose a password" ngModel required>
      </div>
      <div class="mb-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="confirm_password" type="password" name="confirm_password" placeholder="Please confirm your password" ngModel required>
      </div>
      <div class="mb-6" *ngIf="errors">
        <ul *ngFor="let error of errors">
          <li class="text-red-500">* {{ error }}</li>
        </ul>
      </div>
      <div>
        <button class="bg-indigo-900 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2" type="submit">
          Sign Up
        </button>
        <a class="block w-100 align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/signin">
          Already signed up? signin
        </a>
      </div>
    </form>
  </div>
</div>