<footer class="a-footer w-full bg-gray-200">
  <div class="container mx-auto px-8 pt-10 pb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/6 text-center md:text-left py-6">
	  	<div class="pb-4 text-center">
	  		<h1 class="text-lg text-gray-700 font-bold">The Company</h1>
	  	</div>
	    <ul class="text-center">
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">About Us</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Contact</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Site Map</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Careers</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Fraud Awareness</a></li>
	    </ul>
      </div>
      <div class="w-full md:w-1/6 text-center md:text-left py-6">
	  	<div class="pb-4 text-center">
	  		<h1 class="text-lg text-gray-700 font-bold">Buying & Selling</h1>
	  	</div>
	    <ul class="text-center">
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Find a vehicle</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Sell your vehicle</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Car Dealers</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Compare Vehicle Prices</a></li>
	    </ul>
      </div>
      <div class="w-full md:w-1/6 text-center md:text-left py-6">
	  	<div class="pb-4 text-center">
	  		<h1 class="text-lg text-gray-700 font-bold">Careers</h1>
	  	</div>
	    <ul class="text-center">
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Find jobs</a></li>
	    </ul>
      </div>
      <div class="w-full md:w-1/6 text-center md:text-left py-6">
	  	<div class="pb-4 text-center">
	  		<h1 class="text-lg text-gray-700 font-bold">Follow Us</h1>
	  	</div>
	    <ul class="text-center">
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Facebook</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Twitter</a></li>
	    	<li><a href="/" class="text-gray-700 hover:text-gray-900 hover:underline">Instagram</a></li>
	    </ul>
      </div>
      <div class="w-full md:w-1/6 text-center py-6">
		<svg class="cursor-none header-footer-icon inline-block" width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M0 0h24v24H0z" fill="none"></path><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path></svg>
		<span class="inline-block text-gray-600 text-center text-lg">(111) 222-3344</span>
      </div>
    </div>
  </div>
</footer>

<ul class="w-full text-center md:text-left px-8 p-2 b-footer">
  <li class="md:inline-block sm:block mr-0 md:mr-6 py-2 md:py-0">
    <a class="text-gray-200 hover:text-gray-300" href="#">Terms of Service</a>
  </li>
  <li class="md:inline-block sm:block mr-0 md:mr-6 py-2 md:py-0">
    <a class="text-gray-200 hover:text-gray-300" href="#">Privacy Statement</a>
  </li>
  <li class="md:inline-block sm:block mr-0 md:mr-6 py-2 md:py-0">
    <a class="text-gray-200 hover:text-gray-300" href="#">Ad Choices</a>
  </li>
  <li class="md:inline-block sm:block mr-0 md:mr-6 py-2 md:py-0">
    <a class="text-gray-100 cursor-not-allowed" href="#">Disabled</a>
  </li>
</ul>