<div class="flex justify-center pt-32 min-w-screen w-full min-h-screen h-full" id="layout">
  <div class="md:w-3/5 sm:w-full">
    <form #frm="ngForm" (ngSubmit)="handleSubmit(frm)"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      	<h1 class="text-lg mb-3 mb-12">Post your vehicle</h1>
		<div class="flex flex-wrap -mx-3 mb-2">
		    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
		        category
		      </label>
		      <div class="relative">
		        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="category" ngModel>
		          <option>Small</option>
		          <option>Large</option>
		          <option>SUV</option>
		          <option>Truck</option>
		          <option>Luxury</option>
		        </select>
		        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
		          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
		        </div>
		      </div>
		    </div>	
		    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
		        manufacturer
		      </label>
		      <div class="relative">
		        <select [(ngModel)]="init_man" *ngIf="manufacturer" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
		        id="grid-state" #_manufacturer name="manufacturer"
		        (change)="handleManuChange(_manufacturer)" ngModel>
		          <option>All manufacturers</option>
		          <option *ngFor="let make of manufacturer">
		        	{{ make }}
		      	  </option>
		        </select>
		        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
		          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
		        </div>
		      </div>
		    </div>
		    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
		        model
		      </label>
		      <div class="relative">
		        <select [(ngModel)]="init_mon" *ngIf="models" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
		        id="grid-state" #_model name="model" ngModel>
		          <option>All Models</option>
		          <option *ngFor="let model of models">
		          	{{ model }}
		          </option>
		        </select>

		        <select *ngIf="!models" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500
		        cursor-not-allowed" id="grid-state" #_model disabled>
		          <option>Select a make</option>
		        </select>
		        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
		          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
		        </div>
		      </div>
		    </div>
		    <div class="w-full pt-6 md:w-1/4 px-3">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
		        year
		      </label>
		      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="" name="year" ngModel>
		    </div>
			<div class="w-full pt-6 md:w-1/4 px-3">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
		        location
		      </label>
		      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="" name="location" ngModel>
		    </div>		    
		    <div class="w-full pt-6 md:w-1/4 px-3">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
		        price
		      </label>
		      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="" name="price" ngModel>
		    </div>
		    <div class="w-full pt-6 md:w-1/4 px-3">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
		        odometer
		      </label>
		      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="" name="odometer" ngModel>
		    </div>
		    <div class="w-full pt-6 md:w-1/3 px-3">
		      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
		        vin
		      </label>
		      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="" name="vin" ngModel>
		    </div>

		</div>

	  	<h1 class="text-lg mt-8 mb-12">Add images</h1>

	  	<div class="flex flex-wrap justify-center -mx-3 mb-2">
			<label class="md:w-1/5 sm:w-full flex flex-col items-center px-4 py-6 bg-white text-indigo-400 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-indigo-400 hover:text-white md:mr-4">
	        	<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
	            	<path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
	        	</svg>
	        	<span class="mt-2 text-base leading-normal">Select a file</span>
	        	<input type="file" class="hidden" name="file" (change)="handleFileInput($event.target.files)" ngModel>
	    	</label>
			<label class="md:w-1/5 sm:w-full flex flex-col items-center px-4 py-6 bg-white text-indigo-400 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-indigo-400 hover:text-white md:mr-4">
	        	<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
	            	<path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
	        	</svg>
		        <span class="mt-2 text-base leading-normal">Select a file</span>
		        <input type="file" class="hidden" name="file" (change)="handleFileInput($event.target.files)" ngModel>
	    	</label>
			<label class="md:w-1/5 sm:w-full flex flex-col items-center px-4 py-6 bg-white text-indigo-400 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-indigo-400 hover:text-white md:mr-4">
	        	<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
	            	<path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
	        	</svg>
	        	<span class="mt-2 text-base leading-normal">Select a file</span>
	        	<input type="file" class="hidden" name="file" (change)="handleFileInput($event.target.files)">
	    	</label>
			<label class="md:w-1/5 sm:w-full flex flex-col items-center px-4 py-6 bg-white text-indigo-400 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-indigo-400 hover:text-white md:mr-4">
		        <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
		            <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
		        </svg>
		        <span class="mt-2 text-base leading-normal">Select a file</span>
		        <input type="file" class="hidden" name="file" (change)="handleFileInput($event.target.files)">
		    </label>
	  	</div>
      	<div class="mb-6" *ngIf="errors">
        	<ul *ngFor="let error of errors">
          	<li class="text-red-500">{{ error }}</li>
        	</ul>
      	</div>
      	<div class="flex items-center justify-between mt-8">
        	<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Submit
        	</button>
      	</div>
    </form>
  </div>
</div>